%ul.nav.nav-tabs.dash-sidebar-tabs
  %li
    = link_to 'Projects', '#projects', 'data-toggle' => 'tab', id: 'sidebar-projects-tab'
  %li
    = link_to 'Groups', '#groups', 'data-toggle' => 'tab', id: 'sidebar-groups-tab'
  %li.active
    = link_to 'Teams', '#teams', 'data-toggle' => 'tab', id: 'sidebar-teams-tab'

.tab-content
  .tab-pane#projects
    = render "projects", projects: @projects
  .tab-pane#groups
    = render "groups", groups: @groups
  .tab-pane.active#teams
    = render "teams", teams: @teams

.prepend-top-20
  %p
  %a{:href => "http://www.tlmat.unican.es"}
    %img{:alt => "GIT logo", :src => "http://www.tlmat.unican.es/images/logoGIT_text_es.jpg"}
  %hr
  %span.rss-icon
    = link_to dashboard_path(:atom, { private_token: current_user.private_token }) do
      %strong
        %i.icon-rss
        News Feed

%hr
